{% extends 'base.html' %}
{% load cms_tags menu_tags sekizai_tags %}

{% block content %}
{% addtoblock "js" %}      
  <script>
    (function($){
      $(window).load(function(){
        $("#content_1").mCustomScrollbar({
          scrollButtons:{
            enable:true
          }
        });
      });
    })(jQuery);
  </script>  
{% endaddtoblock %}

    <div class="row">
      {% placeholder 'content_top' %}
    </div>
<section class="row-fluid" id="secondary-row">

  <div class="span8" style="margin-left: 408px;margin-top: -12px;position: relative;z-index: 10;">
    <h1>
        <div class="left-end-cap" >&nbsp;</div>
        <div class="middle" > {%placeholder 'section-title'%}</div>
        <div class="right-end-cap" >&nbsp;</div>
    </h1>
  </div>
  <div class="span10 secondary offset1 " id="content_1" style="height:340px;margin-top: -44px;">
    <div class="est-content" style="">
      {% placeholder  'content' %}
      </div>                        
                                
  </div>
                                
</section>  
      <!--end of secound row section-->
      <!--third row-->      
    <section class="row-fluid" >

    
              {% placeholder 'block_middle%}
    </section>
      
     <!--end of third row-->

     <!--small slider-->
    <section class="row-fluid">

          {% placeholder 'block-bottom'%}
    </section>
                
      <!--end of small slider-->
{% endblock %}
